@use '../styles/variables' as vars;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position:sticky;
  top: 0;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 10%;
  height: auto;
  border-radius:10px;
  margin-right: 10px;
}

.branding {
  display: flex;
  flex-direction: column;
}

.company-name {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.slogan {
  font-size: 12px;
  color: #666;
  margin: 0;
}

.navbar-middle {
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.cart-icon {
  width: 30px;
  height: 30px;
}
